#fst {
    height: 300px;
    width: 300px;
    background-color: yellowgreen;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
}

.scd {
    background-color: bisque;
    height: 100px;
    width: 100px;
    border: 3px solid goldenrod;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scd:hover {
    margin-left: 85px;
    margin-top: 85px;
    transition: all 2s ease-in-out;
    background-color: darkcyan;
}